/* --- RESET DEFINITIVO --- */
#content {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Nova classe para centralizar e limitar o conteúdo de texto a 1200px */
.container-limit {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  position: relative;
}

/* Ajuste da Row para ocupar 100% e remover margens negativas externas */
#content .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

/* row-content interno para organizar colunas */
#content .row-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

#content .column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#content .col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  #content .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* --- BANNER FULL WIDTH --- */
#content .cover-banner-tile img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

/* Banner mobile */
@media (max-width: 767px) {
  #content .cover-banner-tile img {
    content: url("https://www.gov.br/saude/pt-br/composicao/saes/samu-192/samu-192/@@govbr.institucional.banner/e7314ad6-58d3-49b1-8a8a-addddeb31487/@@images/600457b5-b881-4f88-b6db-5c9cf7ae6b40.png");
  }
}

@media (min-width: 768px) {
  #content .cover-banner-tile img {
    width: 100%;
  }
}

#content .cover-richtext-tile * {
  color: black;
  font-size: 16px;
}

#content .cover-richtext-tile a {
  color: #1351b4;
  font-weight: bold;
}

#content .outstanding-header .outstanding-title {
  text-transform: none;
  margin: 0;
}

/* Row 01 - Intro Box */
#content .row.box-branco {
  margin-top: -50px;
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}

#content .row.box-branco .callout {
  border-radius: 60px 30px 60px 60px;
  padding: 25px 70px 25px 140px;
  background: #ededed;
  border: none;
  position: relative;
  margin: 0;
}

#content .row.box-branco .callout::before {
  content: "";
  position: absolute;
  border-radius: 60px 30px 60px 60px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #f55e00,
    transparent 20%,
    transparent 80%,
    #f55e00
  );
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
}

#content .row.box-branco .callout::after {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r1-icon.png);
  width: 78px;
  height: 100%;
  top: 0px;
  left: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 992px) {
  #content .row.box-branco .callout {
    padding-left: 130px;
  }
}

@media (max-width: 767px) {
  #content .row.box-branco {
    margin-top: 0;
  }
  #content .row.box-branco .callout {
    padding: 130px 25px 30px 25px;
    border-radius: 20px;
    text-align: center;
  }
  #content .row.box-branco .callout::before {
    border-radius: 20px;
  }
  #content .row.box-branco .callout::after {
    height: 80px;
    width: 100%;
    top: 25px;
    left: 0;
    transform: none;
    background-position: center top;
  }
}

/* Row 02 - Tile em Alta */
#content .row.tile-em-alta {
  margin-bottom: 2rem;
}
#content .row.tile-em-alta ul {
  list-style: none !important;
  padding-left: 80px !important;
  position: relative;
}
#content .row.tile-em-alta ul::before {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r2-icon.png);
  width: 58px;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Aumentar ícone em desktop */
@media (min-width: 769px) {
  #content .row.tile-em-alta ul {
    padding-left: 160px !important;
  }
  #content .row.tile-em-alta ul::before {
    width: 140px;
  }
}

/* Row 03 - Box Colorido */
#content .row.box-colorido {
  position: relative;
  overflow: hidden;
}

#content .row.box-colorido::before {
  content: "";
  background: linear-gradient(174.2deg, transparent 33%, #ffeddf 33.3%);
  position: absolute;
  width: 100%;
  height: 400px;
  margin-top: -58px;
  z-index: -1;
  left: 0;
}

#content .row.box-colorido .outstanding-header h2.outstanding-title {
  padding-top: 136px;
  color: #c90000;
  font-weight: 900;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}

#content .row.box-colorido .outstanding-header h2.outstanding-title::before {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r3-icon.png);
  width: 100%;
  height: 126px;
  left: 0;
  top: 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Row 04 - Box Escuro */
#content .row.box-escuro {
  background: #ffeddf;
  padding-bottom: 2rem;
}

#content .row.box-escuro ul {
  list-style: none !important;
  padding-left: 0px !important;
}

#content .row.box-escuro ul li {
  position: relative;
  border-bottom: 1px solid red;
  padding: 20px 0 20px 100px;
  margin-bottom: 0 !important;
  font-size: 1.1rem;
}

#content .row.box-escuro ul li:last-child {
  border-bottom: none;
}

#content .row.box-escuro ul li::before {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r4-atendimento.png);
  width: 44px;
  height: 100%;
  left: 10px;
  top: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

#content .row.box-escuro ul li:nth-child(2)::before {
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r4-medico.png);
  width: 46px;
}

#content .row.box-escuro ul li:nth-child(3)::before {
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r4-tempo.png);
  width: 43px;
}

#content .row.box-escuro ul li::after {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r4-setinha.png);
  width: 12px;
  height: 100%;
  left: 70px;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Row 05 - Lista Blocos (FOTO LARANJA FULL WIDTH) */
#content .row.lista-blocos {
  margin-bottom: 60px;
  margin-top: 64px;
  background-image: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r5-bg-laranja.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

#content .row.lista-blocos .container-limit {
  padding-left: 15px;
  padding-right: 15px;
}

#content .row.lista-blocos::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -64px;
  left: 0;
  background: linear-gradient(180deg, #ffeddf 33.3%, transparent 33%);
  z-index: -1;
}

#content .row.lista-blocos .column {
  background: #fffaf6;
  border-radius: 20px;
  padding: 49px 24px 24px;
  border: 1px dashed #f77829;
  position: relative;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #content .row.lista-blocos .column {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

#content .row.lista-blocos .row-content {
  gap: 30px;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
  #content .row.lista-blocos .row-content {
    flex-direction: column;
    gap: 90px;
  }

  #content .row.lista-blocos .column {
    flex-basis: 100%;
    width: 100%;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

#content .row.lista-blocos .outstanding-header {
  display: flex;
  justify-content: center;
  position: relative;
}

#content .row.lista-blocos .outstanding-header h2.outstanding-title {
  background: #c90000;
  border-radius: 40px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: fit-content;
  padding: 10px 30px;
  margin: auto;
  position: absolute;
  top: -75px;
  z-index: 2;
  text-align: center;
  white-space: nowrap;
}

#content .row.lista-blocos .outstanding-header h2.outstanding-title::before {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r5-chamar.png);
  width: 60px;
  height: 64px;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

#content
  .row.lista-blocos
  .column:last-child
  .outstanding-header
  h2.outstanding-title::before {
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r5-nao-chamar.png);
}

#content .row.lista-blocos ul {
  list-style: none !important;
  padding-left: 15px;
}

#content .row.lista-blocos ul li {
  margin-bottom: 10px !important;
  position: relative;
  padding-left: 15px;
}

#content .row.lista-blocos ul li::before {
  content: "•";
  color: #c90000;
  position: absolute;
  left: 0;
  font-weight: bold;
}

/* Row 06 - Dicas Cards */

#content .outstanding-title-dicas {
  color: #c90000;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

#content .dicas__container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  padding: 0 200px;
}

#content .dicas__linha {
  border: 2px solid #e85900;
  border-radius: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64%;
  top: 18%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

#content .dicas__linha::before {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r6-dicas_01.png);
  width: 298px;
  height: 296px;
  left: -170px;
  background-repeat: no-repeat;
  background-size: contain;
}

#content .dicas__linha::after {
  content: "";
  position: absolute;
  background: url(https://www.gov.br/saude/pt-br/composicao/saes/samu-192/imagens/r6-dicas_02.png);
  width: 300px;
  height: 299px;
  right: -170px;
  background-repeat: no-repeat;
  background-size: contain;
}

#content .dicas__card {
  background: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 210px;
  height: 210px;
  padding: 18px 25px;
  position: relative;
  text-align: center;
  line-height: normal;
  box-shadow: none;
  justify-content: center;
  flex-direction: column;
}

#content .dicas__card * {
  line-height: normal;
  color: black;
}

#content .dicas__card::before {
  content: "";
  position: absolute;
  background: #09316f;
  border-radius: 64px;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  rotate: -14deg;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  #content .row.box-branco {
    margin-top: 0;
  }

  #content .outstanding-title-dicas {
    margin-bottom: 1rem;
  }

  #content .dicas__container {
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #content .dicas__linha {
    width: calc(100% - 20px);
    height: auto;
    min-height: calc(100% - 210px);
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 70px;
    padding: 0;
    border-top: 2px solid #e85900;
    border-bottom: 2px solid #e85900;
    border-left: 2px solid #e85900;
    border-right: 2px solid #e85900;
  }

  #content .dicas__linha::before,
  #content .dicas__linha::after {
    content: none;
  }

  #content .dicas__card {
    height: auto;
    width: 200px;
    padding: 20px 25px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  }
}

/* Fonte/Referência */
#content .fonte-referencia {
  text-align: center;
  padding: 30px 20px 40px;
  margin-top: 40px;
  border-top: 2px solid #e5e5e5;
}

#content .fonte-referencia p {
  color: #666;
  font-size: 14px;
  margin: 0;
}

#content .fonte-referencia a {
  color: #1351b4;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

#content .fonte-referencia a:hover {
  color: #c90000;
  text-decoration: underline;
}
